.first-class {
  color: red;
}

p[draggable] {
  color: teal;
  font-size: 20px;
}

#aboutme {
  color: blue;
}

.square {
  height: 200px;
  width: 200px;
  background-color: red;
}


.circle {
  height: 200pt;
  width: 200pt;
  background-color: rgb(38, 31, 105);
  border-radius: 90%;
}

html {
  font-size: 8px;
}
