.first-class {
  color: red;
}

p[draggable] {
  color: teal;
  font-size: 20px;
  margin: 0px;
}

#aboutme {
  color: blue;
}

.square1 {
  padding: 20px;
  height: 200px;
  width: 200px;
  background-color: cadetblue;
  border: 10px solid black;
}

.square2 {
  height: 200px;
  width: 200px;
  background-color: gold;
  margin: 0px 200px 0px 0px
}

.square3 {
  height: 200px;
  width: 200px;
  background-color: indianred;
}


.circle {
  height: 200pt;
  width: 200pt;
  background-color: rgb(38, 31, 105);
  border-radius: 90%;
}

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*
html {
  font-size: 8px;
}
*/
