.first-class {
  color: red;
}

p[draggable] {
  color: teal;
}

#aboutme {
  color: blue;
}

.square {
  height: 200px;
  width: 200px;
  background-color: red;
}


.circle {
  height: 200px;
  width: 200px;
  background-color: yellow;
  border-radius: 90%;
}
